---
import { type Entry } from 'contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { contentfulClient } from '@/lib/contentful';
import Layout from '@/layouts/Layout.astro';
import PageSection from '@/components/PageSection.astro';
import Link from '@/components/Link.astro';
import { isEntry } from '@/lib/contentful';
import {} from '@/types/contentful';
import type {
	TypeArtistLinksSkeleton,
	TypeArtistsSkeleton,
} from '@/types/contentful';

export async function getStaticPaths() {
	const artists = await contentfulClient.getEntries<TypeArtistsSkeleton>({
		content_type: 'artists',
		include: 2,
	});

	const pages = artists.items
		.filter((item) => Boolean(item.fields.bio)) // if no bio, don't make a page
		.map((item) => ({
			params: {
				slug: item.fields.slug,
			},
			props: {
				name: item.fields.name,
				bio: item.fields.bio
					? documentToHtmlString(item.fields.bio)
					: undefined,
				additionalLinks: item.fields.additionalLinks,
			},
		}));
	return pages;
}

const { name, bio, additionalLinks } = Astro.props;

const isEntryOfTypeArtistLink = (
	/* eslint-disable @typescript-eslint/no-explicit-any */
	link: any
	/* eslint-enable @typescript-eslint/no-explicit-any */
): link is Entry<TypeArtistLinksSkeleton, undefined, string> => {
	return isEntry<TypeArtistLinksSkeleton>(link);
};
---

<Layout metaData={{}}>
	<PageSection title={`About ${name}`}>
		<div set:html={bio} class='flex flex-col gap-4 text-lg' />
		{
			additionalLinks?.length && (
				<>
					<h3>Additional Links</h3>
					<ul class='list-disc pl-8'>
						{additionalLinks
							?.filter(isEntryOfTypeArtistLink)
							.map(({ fields }) => (
								<li>
									<Link isExternal={true} href={fields.linkUrl}>
										{fields.linkText}
									</Link>
								</li>
							))}
					</ul>
				</>
			)
		}
	</PageSection>
</Layout>
