---
import { getArtistsByListTitle } from '@/lib/contentful';

import Layout from '@/layouts/Layout.astro';
import PageSection from '@/components/PageSection.astro';
import Link from '@/components/Link.astro';
import Text from '@/components/Text.astro';
import { org } from '@/constants';
import { ARTIST_LIST_TITLE } from '@/components/Navigation/constants';

const artists = await getArtistsByListTitle(ARTIST_LIST_TITLE);

const artistInstructors = artists.filter((artist) =>
	artist?.fields?.role?.includes('Instructor')
);
const artistMembers = artists.filter(
	(artist) =>
		!artist?.fields?.role?.includes('Instructor') && Boolean(artist.fields.bio)
);
---

<Layout metaData={{}}>
	<PageSection title='Artists'>
		{
			!artists ? (
				<Text>
					There was a problem getting the artist list. Please try again later.
				</Text>
			) : (
				<>
					<Text>
						Here are a few of the artists instructors who have helped make the{' '}
						{org.name} what it is today.
					</Text>
					{artistInstructors && (
						<>
							<Text as='h3'>Instructors</Text>
							<ul class='list-disc pl-16'>
								{artistInstructors.map(({ fields }) => {
									return (
										<li class='mt-2'>
											{fields.bio ? (
												<Link href={`/artists/${fields.slug}/`}>
													{fields.name}
												</Link>
											) : (
												fields.name
											)}
										</li>
									);
								})}
							</ul>
						</>
					)}
					{artistMembers && (
						<>
							<Text as='h3' class='mt-8'>
								Past and Current Members
							</Text>
							<ul class='list-disc pl-16'>
								{artistMembers.map(({ fields }) => {
									return (
										<li class='mt-2'>
											<Link href={`/artists/${fields.slug}/`}>
												{fields.name}
											</Link>
										</li>
									);
								})}
							</ul>
						</>
					)}
				</>
			)
		}
	</PageSection>
</Layout>
