---
import Link from '@/components/Link.astro';
import Button from '@/components/Button.astro';
import { clsx } from 'clsx';
import { twMerge } from 'tailwind-merge';
import { type TypeNavItem } from '../Navigation/constants.ts';

interface Props {
	navItems: TypeNavItem[];
	class: string;
	isMobile?: boolean;
}

const currentRoute = Astro.url.pathname;
const isHomepage = currentRoute === '/';
const isRegisterPage = currentRoute === '/register/';
const isClassPage = currentRoute.startsWith('/classes/');

const { navItems, class: className, isMobile = false } = Astro.props;
---

<nav
	class={`${twMerge(
		clsx({
			home: isHomepage,
			register: isRegisterPage,
			classes: isClassPage,
			'flex flex-col justify-start': isMobile,
		}),
		className
	)}`}
>
	<ul class='h-full w-full list-none font-serif text-2xl font-extrabold'>
		{
			navItems.map((item, index) => {
				const subpagesUrls = item.subpages
					? item.subpages.map((subpage) => subpage.url)
					: [];

				const isActivePage = currentRoute === item.url;
				const hasActiveSubpage = subpagesUrls.includes(currentRoute);
				const containsOrIsActivePage = hasActiveSubpage || isActivePage;
				return (
					<li class={`${item.class} ${index !== 0 ? 'mt-4' : ''}`}>
						<Link
							class={clsx({
								"text-fac-orange cursor-default after:pl-1 after:content-['›']":
									isActivePage,
								'no-underline': true,
							})}
							href={item.url}
						>
							{item.name}
						</Link>
						{item.subpages && (
							<ul
								class={`${
									containsOrIsActivePage ? 'block' : 'hidden'
								} list-none p-0 pl-4 font-sans text-xl font-bold md:text-lg`}
							>
								{item.subpages.map((subpage, index) => {
									const isActiveSubpage = currentRoute === subpage.url;
									return (
										<li class={`${subpage.class} mt-4`}>
											<Link
												class={clsx({
													"text-fac-orange cursor-default after:pl-1 after:content-['›']":
														isActiveSubpage,
													'no-underline': true,
												})}
												href={subpage.url}
											>
												{subpage.name}
											</Link>
										</li>
									);
								})}
							</ul>
						)}
					</li>
				);
			})
		}
	</ul>
	<div class={isMobile ? 'mt-auto -mx-12' : 'mt-16'}>
		<Button
			class={`w-full md:block ${isMobile ? 'py-6 text-xl' : ''}`}
			href='/register/'>Register</Button
		>
	</div>
</nav>
