---
import { Icon } from 'astro-icon/components';
import Layout from '@/layouts/Layout.astro';
import { type TypePageMetaData } from '@/layouts/types';

import Button from '@/components/Button.astro';
import Text from '@/components/Text.astro';
import { org } from '@/constants';
import PageSection from '@/components/PageSection.astro';

const metaData: TypePageMetaData = {
	title: 'Contact Us',
	description: `Find out how to contact the {org.name} if you are interested in classes or have questions for us.`,
};
---

<Layout metaData={metaData}>
	<PageSection title={`Contact the ${org.name}`}>
		<Text>
			Whether you are interested in bronze or iron casting (using the lost-wax
			method), metal furniture design, armor forging, stone carving, figure
			sculpture, figure drawing or just want to check out the {org.name}’s
			studio, please contact us and let us know.
		</Text>
		<div class='mt-6 flex flex-col justify-around gap-4 md:flex-row'>
			<Button
				href={`mailto:${org.email}`}
				class='flex items-center gap-2 text-center md:inline-flex'
			>
				<Icon name='at' size='24px' />
				Email {org.email}
			</Button>
			<Button
				href={`tel:+1${org.phone.split('.').join('')}`}
				appearance='secondary'
				class='flex items-center gap-2 text-center md:inline-flex'
			>
				<Icon name='phone' size='24px' /> Call {org.phone}
			</Button>
		</div>
	</PageSection>
</Layout>
