---
import { contentfulClient, selectImageDataFromResponse, type Class } from '@/lib/contentful';

import Layout from '@/layouts/Layout.astro';
import PageSection from '@/components/PageSection.astro';
import Text from '@/components/Text.astro';
import Link from '@/components/Link.astro';
import ClassCard from '@/components/ClassCard.astro';

const classes = await contentfulClient.getEntries<Class>({
	content_type: 'class',
});

const metaData = {
	title: 'Classes',
};
---

<Layout metaData={metaData}>
	<PageSection title='Classes'>
		{
			classes?.items ? (
				<div class='grid-row-auto grid grid-cols-2 items-stretch gap-4'>
					{classes.items.map(({ fields }) => {
						const imageData = selectImageDataFromResponse(fields.images || [])
						return (
							<ClassCard
								title={fields.name}
								link={`/classes/${fields.slug}/`}
								slug={fields.slug}
								summary={fields.summary}
								image={imageData[0]}
							/>
						);
					})}
				</div>
			) : (
				<Text>
					There was a problem getting the class list. Please try again later.
				</Text>
				<Text>
					<Link href='/contact-us/'>Contact us if the problem continues.</Link>
				</Text>
			)
		}
	</PageSection>
</Layout>
